@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

body{
  width: 900px;
  margin: auto;
  background-color: blueviolet;
}
.box{
  margin-top: 50px;
  padding: 8px 10px;
  background-color: aliceblue;
  border-radius: 1rem;

}
h3{
  width: 250px;
}
article{
  margin: 2rem 0;
}
h4{
  font-size: 1.2rem;
}